.form {
  width: 25em;
  height: 500px;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(225, 225, 225, 100%);
  justify-content: center;
  padding: 15px;
  margin: 60px auto;
  box-shadow: 3px 1px 16px 2px black;
}

.canvas{
  position: fixed;
  top: 0;
  left: 0;
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  background: #002DE1 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-Index: -1;
}


